# =======================
# Unity 공통 무시 폴더들
# =======================

# 자동 생성 캐시/빌드 파일
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# 사용자 로컬 셋팅
*.csproj
*.unityproj
*.sln
*.user
*.userprefs

# 기타 잡다한 것들 (있으면)
*.swp
*.tmp
*.pidb
*.booproj
*.svd
